version: '3'

services:
  web:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "8081:80"
    volumes:
      - .:/app/
    links:
      - php
    networks:
      - pg-network
  
  db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - pg-network
    volumes:
      - ./docker/db:/docker-entrypoint-initdb.d
  
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/app
    networks:
      - pg-network
  
  pgadmin-wdpai:
    image: dpage/pgadmin4:latest
    container_name: pg-admin2
    env_file:
      - .env
    ports:
      - "5050:80"
    networks:
      - pg-network
  
networks:
  pg-network:

volumes:
  pg-data: