<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/manage-users.css">
    <title>Zarządzaj użytkownikami</title>
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/manage-users.js" defer></script>
</head>
<body>
    <button id="returnButton">Powrót</button>

    <div id="usersContainer">
    </div>
</body>
</html>