h1 {
    font-size: 3rem;
    font-weight: 500;
}

.username {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    position: relative;
    width: 300px;
    text-align: center;
}

.username::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--dark-gray-border);
    position: absolute;
    bottom: -3px;
    right: 0;
}

.recipes-container {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: start;
    justify-content: space-between;
}

.recipes-container span {
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0.5rem;
}

.recipes-container > div {
    width: 100%;
}

.recipes-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--dark-gray-border);
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
    gap: 8px;
}

.recipe-item {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    width: 100%;
    height: 100px;
}

img {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--dark-gray-border);
}

.recipe-item > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
}

.recipe-title {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.recipe-options {
    cursor: default;
}

div > a {
    cursor: pointer;
    text-decoration: underline;
}

.list-divider {
    width: 100%;
    height: 1px;
    background: var(--dark-gray-border);
}

.no-recipes-info {
    width: 100%;
    text-align: center;
    margin: 16px 0;
}

.error-div {
    text-align: center;
    font-size: 1.4rem;
    margin: 40px 0;
}

.page-button {
    background-color: var(--light-red);
    color: var(--light-bg-color);
    font-family: "Inter", sans-serif;
    width: 300px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 4px 0;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 1000px) {
    .recipes-container {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .recipes-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .recipes-container {
        width: 90%;
    }
}