.form-elements {
    background-color: var(--on-surface);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
}

.input-wrapper {
  width: 90%;
  margin: 16px 0;
  box-sizing: border-box;
  border: var(--dark-gray-border) 1px solid;
  padding: 16px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.input-wrapper::before {
  position: absolute;
  top: -8px;
  left: 12px;
  background-color: var(--on-surface);
  color: var(--dark-gray-border);
  padding: 0 4px;
  font-size: small;
}

.input-wrapper svg {
  position: absolute;
  fill: var(--dark-gray-border);
  right: 10px;
  top: 12px;
  cursor: pointer;
}

.form-input {
    border: none;
    background: none;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border: none;
}

.error-output {
    color: var(--error-red);
    display: block;
    margin-top: 10px;
    text-align: center;
    padding: 0 4px;
}

.form-elements button {
    background-color: var(--light-red);
    color: var(--light-bg-color);
    font-family: "Inter", sans-serif;
    width: 90%;
    border: none;
    outline: none;
    margin: 5px 0;
    padding: 10px;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}

.form-elements button:nth-of-type(1) {
    margin-top: 30px;
}