#usersContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.userSection {
    margin: 10px;
    padding: 8px;
    border: solid black 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

span {
    font-weight: bold;
}

.saveButton {
    background-color: var(--dark-red);
    color: var(--on-surface);
    outline: none;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
}

button {
    background-color: var(--dark-red);
    margin: 10px 0;
    padding: 10px 30px;
    color: var(--on-surface);
    border-radius: 10px;
    cursor: pointer;
}