.main-recipe-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
}

.main-recipe-card > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around;
}

.recipe-info-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.recipe-info h4, .recipe-info h3 {
    margin: 0;
}

.divider {
    width: 1px;
    background-color: var(--dark-gray-border);
}

.recipe-stats {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 32px 0;
}

.recipe-stats svg {
    fill: var(--dark-bg-color);
}

.recipe-stats > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 16px;
}

.buttons button {
    background: none;
    color: var(--dark-bg-color);
    border: 2px solid var(--dark-red);
    font-weight: bold;
    outline: none;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
}

.content-section {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    margin: 32px 0;
    width: 90%;
}

.content-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-group h3 {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-bg-color);
}

.content-group > div {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--dark-gray-border);
    flex: 1;
    text-align: justify;
}

.content-group h4 {
    font-weight: 600;
    margin-bottom: 4px;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.ingredient-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredient-row > div {
    background-color: var(--dark-gray-border);
    height: 1px;
}


@media only screen and (max-width: 800px) {
    .main-recipe-card {
        flex-direction: column;
        align-items: center;
    }

    .main-recipe-card > img {
        width: 60%;
        height: auto;
    }

    .recipe-info {
        margin: 0 20px;
    }

    .divider {
        display: none;
    }

    .content-section {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .main-recipe-card > img {
        width: 80%;
        height: auto;
    }
}