.filtering-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
    color: var(--dark-bg-color);
}

.filtering-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 200px;
    position: relative;
}

.filtering-container svg {
    fill: var(--dark-bg-color);
}

.filtering-container span {
    font-size: 16px;
    margin-left: 10px;
}

.filtering-container > * {
    border: solid 2px var(--dark-red);
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
}

.filtering-container input {
    background: none;
    width: 100%;
    border: none;
    outline: none;
}

.recipe-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    margin: 16px 0;
}

.filtering-dropdown {
    display: none;
    left: 0;
    top: 48px;
    position: absolute;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    border-radius: 24px;
    border: solid 2px var(--dark-red);
    background-color: var(--light-bg-color);
    flex-direction: column;
    padding: 16px 0;
    max-height: 300px;
    overflow-y: auto;
}

.filtering-dropdown > div {
    padding: 12px 8px;
}

.filtering-dropdown > div:hover {
    background-color: var(--on-surface);
}

.recipe-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--dark-red);
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
}

.recipe-card > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid var(--dark-red);
    border-radius: 8px;
}

.recipe-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.recipe-card-content h3 {
    margin: 0;
}

.recipe-card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.recipe-card-footer > div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.recipe-card-footer svg {
    fill: var(--dark-bg-color);
}

.recipe-card-footer span {
    font-weight: bold;
}


@media only screen and (max-width: 1500px) {
.recipe-list {
    width: 60%;
}
}

@media only screen and (max-width: 1000px) {
.recipe-list {
    width: 80%;
}
}

@media only screen and (max-width: 600px) {
.recipe-list {
    width: 95%;
}
}